@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Montserrat', sans-serif; 
}
a{
    text-decoration: none;
    color: #000;
}

button,input[type="submit"]{
    cursor: pointer;
}


.about{
    width: 100%;
    height: 80px;
    background-color: 
    #23856d;
    color: #fff;
    &__list{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        font-size: 16px;
        span{
            margin-right: 6px;
        }
        a{
            color: white;
            margin-right: 6px;
        }
    }
}

#header{
    margin-top: 20px;
    margin-bottom: 50px;
    .container{
        max-width: 1100px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        &__head{
        font-size: 22px;
        color: rgb(31, 31, 31);  
        }
        .navbar{
            &__list{
                display: flex;
                &__item{
                    margin-right: 20px;
                    &--link{
                        text-decoration: none;
                        color: rgb(31, 31, 31);  
                    }
                }
            }
        }
        &__right{
            color   : rgb(46, 115, 194);
            a{
                margin-right: 10px;
                cursor: pointer;
            }
            a{
                color   : rgb(46, 115, 194);
                .icon{
                    margin-right: 14px;
                }
            }
           
        }
    }

}

#main{
   
    //floating-phone
    .container{
        max-width: 1100px;
        margin: 0 auto;
        margin-bottom: 70px;
        .upper{
            margin-bottom: 40px;
        }
        .mid{
            display: flex;
           &__img{
            margin-right: 50px;
            img{
                width: 500px;
                height: 500px;
                object-fit: cover;
                margin-bottom: 18px;
            }
            .twice-img{
                display: flex;
                img{
                    width: 100px;
                    height: 80px;
                    margin-right: 17px;
                }
            }
           
           } 
           &__info{
            &__head{
                font-size: 22px;
                font-weight: 500;
                margin-bottom: 22px;
            }
            .fa-star{
             color: #f3ce0b;
            }  
            .last-star{
                color: black;
                margin-bottom: 22px;
                margin-right: 5px;
             }
            &__price{
                font-size: 24px;
                font-weight: 700;
                margin-bottom: 5px;
            }
            &__new{
                margin-bottom: 22px;
                display: inline-block;
            }
            &__stock{
                color: #23a6f0;
            }
            &__text{
                margin-bottom: 22px;
            }
            .hr{
                border-color: rgb(237, 237, 237);
            }
            &__colors{
                margin-top: 22px;
                margin-bottom: 130px;
                &--item{
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: inline-block;
                }
                .blue{
                    background-color: #23a6f0;
                    margin-right: 5px;
                }
                .green{
                   background-color:  #2dc071;
                   margin-right: 5px;

                }
                .orange{
                    background-color: #e77c40;
                    margin-right: 5px;

                 }

                .gray{
                    background-color:   #252b42;
                 }
            }
            &__options{
                .btn{
                    width: 160px;
                    height: 53px;
                    border: none;
                    color: white;
                    background-color: #23a6f0;
                    border-radius: 6px;
                    margin-right: 15px;
                    font-size: 15px;
                }
                i{
                    font-size: 16px;
                    color: #000;
                    margin-right: 15px;
                }
            }
          
           }
        }
    }
    
    // quick-fox
    .quick-fox{
        .upper{
            &__list{
                display: flex;
                justify-content: center;
                &__item{
                    margin-right: 30px;
                    &--link{
                        text-decoration: none;
                        color: gray;
                        font-weight: 600;
                        font-size: 18px;
                        span{
                            color: #23856d;
                        }
                    }
                }
            }
        }
        .bottom{
            display: flex;
            justify-content: space-between;
            &__left{
              
                &__head{
                    color: rgb(48, 48, 48);
                    margin-bottom: 22px;
                }
                &__text{
                    margin-bottom: 22px;
                    text-align: justify;
                    &:nth-last-child(1){
                        margin-bottom: 0;
                    }
                    &:nth-child(3){
                      border-left: 3px solid #23856d;
                      padding-left: 10px;
                      border-width: 7px;
                    }
                }
            }
            &__right{
                &__img{
                    width: 380px;
                    img{
                        border-radius: 10px;
                        width: 100%;
                        height: 370px;
                        object-fit: cover;
                    }
                }
            }
        }
    }
    
    //bestseller
    .bestseller{
        margin-bottom: 100px;
        .container__head{
            text-transform: uppercase;
            color: #252b42;
            padding-bottom: 22px;
            border-bottom: 3px solid rgb(226, 225, 225);
            margin-bottom: 50px;
        }
        .wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 60px;
            column-gap: 33px;
            .card{
                transition: 0.7s;
              &__img{
                width: 250px;
                margin-bottom: 10px;
                cursor: pointer;
                img{
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                }
              }
              &__info{
                text-align: left;
                cursor: pointer;

                &__head{
                 font-size: 15px;
                 margin-bottom: 10px;
                }
                &__text{
                margin-bottom: 10px;
                }
                span{
                    &:nth-last-child(1){
                        color: #23856d;
                        font-weight: 700;
                    }
                }
              }
            }
            .card:hover{
                transition: 0.7s;
                transform: scale(1.05);
            }
        }
    }

    .brand{
        .logo{
            display: flex;
            justify-content: space-between;
        }
    }

}


#footer{
    .container{
        padding-top: 60px;
        max-width: 1100px;
        margin: 0 auto;
       &__upper{
        padding-bottom: 30px;
        &__left{
            &--head{
            font-size: 24px;
            margin-bottom: 15px;
            }
        }
        &__right{
            button{
                padding: 18px 50px;
                border-radius: 6px;
                color: #fff;
                background-color: rgb(35, 166, 240);
                border: none;
                font-size: 16px;
                font-weight: bold;
            }
        }
      }
      &__mid{
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
        h5{
            font-size: 17px;
            font-weight: bold;
            margin-bottom: 24px;
        }
        &__list{
            &--item{
                margin-bottom: 10px;
                opacity: .7;
                a{
                    color: gray;
                }
                i{
                    font-size: 22px;
                    color: rgb(35, 166, 240);
                    margin-right: 10px;
                  
                }
            }
        }
        &__form{
            margin-left: 30px;
            input{
                padding: 17px;
                border-radius: 4px;
                border: 1px solid lightgray;
                margin-bottom: 8px;
                font-size: 15px;
            }
            input[type="submit"]{
                color: white;
                background-color: rgb(35, 166, 240);
                margin-left: -7px;
            }
            p{
                font-size: 14px;
            }
        }
      }
      &__bottom{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid rgb(214 214 214);;
        padding-bottom: 40px;
        margin-bottom: 70px;
       &__head{
        font-weight: bold;
        font-size: 22px;
       color: rgb(41, 41, 41);
       }
       &__list{
        display: flex;
        &--item{
            margin-right: 15px;
            i{
                color: rgb(35, 166, 240);
                font-size: 26px;
            }
        }
       }
      }
    }
}